<div class="flex flex-col flex-auto h-full overflow-hidden bg-card dark:bg-default">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-18 -mb-px px-6 bg-gray-50 dark:bg-transparent">

        <div class="ml-2 text-2xl font-semibold" >Thêm thành viên Phòng/Ban/Bộ Phận</div>
        <div class="flex items-center">
            <!-- More menu -->
            <button mat-flat-button [color]="'primary'" (click)="save()">
                Lưu
            </button>
            <button class="px-6 ml-3" mat-button (click)="cancelEdit()">
                Hủy
            </button>
        </div>

    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start overflow-y-auto p-6 h-180 min-h-180 max-h-180"
        cdkScrollable>
        <form [formGroup]="addManagerForm">
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Phòng/Ban/Bộ phận</mat-label>
                    <input matInput  [formControlName]="'name'" readonly>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-full">
                    <mat-label>Thành viên</mat-label>

                    <mat-chip-grid class="w-auto" #chipGrid aria-label="Managers selection">
                        @for (manager of listManager; track manager) {
                        <mat-chip-row (removed)="remove(manager)">
                            {{manager.surName}} {{manager.name}}
                            <button matChipRemove [attr.aria-label]="'remove ' + manager.userName">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                    </mat-chip-grid>
                    <input placeholder="Thêm..." #managerInput [formControlName]="'searchManager'" [matChipInputFor]="chipGrid"
                        [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option.fullName}}</mat-option>
                        }
                    </mat-autocomplete>

                </mat-form-field>
            </div>
        </form>
    </div>
</div>