<div class="flex flex-col flex-auto sm:mb-4 h-full overflow-hidden">
    <div class="flex mb-3 justify-end">
        <button mat-flat-button color="primary" (click)="openCreateItemDialog()">
            <mat-icon class="icon-size-4" svgIcon="mat_outline:add"></mat-icon>
            <span class="ml-2">Thêm mới</span>
        </button>
    </div>

    <div class="bg-white rounded-lg shadow overflow-hidden">
        <div class="grid grid-cols-1 md:grid-cols-6 px-4 py-5 bg-gray-100 mb-5">
            <h3 class="text-lg font-medium text-gray-900 col-span-2">TÊN VIỆC</h3>
            <span class="text-lg font-medium text-gray-900 text-left hidden md:block">Hạn hoàn thành</span>
            <span class="text-lg font-medium text-gray-900 text-left hidden md:block">Người thực hiện</span>
            <span class="text-lg font-medium text-gray-900 text-left hidden md:block">Trạng thái</span>
            <span class="col-span-1 md:col-span-1"></span> <!-- Empty span to balance the grid -->
        </div>

        <div class="border-t border-gray-200">
            <ng-container *ngFor="let group of congViecGroupData">
                <div class="bg-gray-50 px-4 py-5">
                    <h4 class="text-md font-medium text-gray-800">{{ group.tenNhomCongViec.toUpperCase() }}</h4>
                </div>
                <div *ngFor="let task of group.listCongViec"
                    class="grid grid-cols-1 md:grid-cols-6 px-4 py-5 items-left">
                    <div class="col-span-2">
                        <h5 class="text-md font-medium text-gray-800">{{ task.tenCongViec }}</h5>
                        <p class="text-sm text-gray-500">Tạo bởi: {{ task.nguoiGiaoViec?.fullName }} {{'@' +
                            task.nguoiGiaoViec?.userName }} lúc: {{ task.createdAt }}</p>
                    </div>
                    <div class="text-left hidden md:block">{{ task.ngayKetThuc | date:'dd/MM/yyyy' }}</div>
                    <div class="text-left hidden md:block">
                        <span class="rounded bg-gray-200 px-2 py-1 text-sm">{{ task.nguoiThucHien?.fullName }}</span>
                    </div>
                    <div class="text-left hidden md:block text-sm">
                        <span class="bg-blue-100 text-blue-800 rounded px-2 py-1">{{ task.trangThai }}</span>
                    </div>
                    <div class="col-span-1 md:col-span-1 flex justify-end space-x-2">
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>