<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-6 sm:pb-20 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Thông tin chung
                </h2>
            </div>
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">ID</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">Thông tin chung</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-flat-button [color]="'primary'" (click)="editData()">
                <mat-icon class="icon-size-4" [svgIcon]="'mat_outline:add'"></mat-icon>
                <span class="ml-2">Sửa</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto -mt-16 p-6 sm:p-10 overflow-hidden bg-card">
        <div class="w-full max-w-3xl">

            <!-- Form -->
            <form [formGroup]="accountForm">
    
                <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                    <!-- Email -->
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>User name</mat-label>
                            <input [formControlName]="'userName'" matInput readonly>
                        </mat-form-field>
                    </div>
                    <!-- Phone -->
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Mã nhân sự - ID</mat-label>
                            <input [formControlName]="'maHoSo'" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Họ và tên</mat-label>
                            <input [formControlName]="'fullName'" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Tên gọi khác</mat-label>
                            <input [formControlName]="'tenKhac'" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Văn phòng</mat-label>
                            <input [formControlName]="'vanphong'" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Phòng ban</mat-label>
                            <input [formControlName]="'phongban'" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Email</mat-label>
                            <input [formControlName]="'email'" matInput readonly>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Số điện thoại</mat-label>
                            <input [formControlName]="'phone'" matInput readonly>
                        </mat-form-field>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
</div>

<fuse-drawer class="w-screen min-w-screen z-999"  fixed [mode]="'over'" [name]="'addDrawer'"
    [position]="'right'" [opened]="false" (openedChanged)="drawerOpenedChanged($event)" #addDrawer>
    <div class="flex flex-col w-full overflow-auto bg-card">
        <ng-container *ngIf="drawerComponent === 'edit-data'">
            <app-edit-hosonhansu [drawer]="addDrawer" [data]="hosoModel" (onClosed)="getInfo()"></app-edit-hosonhansu>
        </ng-container>
    </div>
</fuse-drawer>