<div class="flex flex-col flex-auto h-full overflow-hidden bg-card dark:bg-default">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-18 -mb-px px-6 bg-gray-50 dark:bg-transparent">

        <div class="ml-2 text-2xl font-semibold">Sửa thông tin chung</div>
        <div class="flex items-center">
            <!-- More menu -->
            <button mat-flat-button [color]="'primary'" (click)="save()">
                Lưu
            </button>
            <button class="px-6 ml-3" mat-button (click)="cancelEdit()">
                Hủy
            </button>
        </div>

    </div>
    <mat-divider class="mb-4"></mat-divider>
    <cdk-accordion class="flex flex-col gt-xs:flex-row gt-xs:items-start overflow-y-auto p-6 h-180 min-h-180 max-h-180"
        cdkScrollable>
        <form [formGroup]="employeeForm">
            <!-- Thông tin chung -->
            <cdk-accordion-item #accordionItem="cdkAccordionItem" class="w-full border-b mb-2" role="button" tabindex="0"
                [attr.id]="'accordion-header-1'" [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-1'">
                <div class="flex justify-between p-4 cursor-pointer bg-gray-200 hover:bg-gray-300"
                    (click)="accordionItem.toggle()">
                    Thông tin chung
                    <span class="text-sm text-gray-600">
                        Ấn để {{ accordionItem.expanded ? 'đóng' : 'mở' }}
                    </span>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6"
                    [style.display]="accordionItem.expanded ? 'block!important' : 'none!important'"
                    [attr.id]="'accordion-body-1'" [attr.aria-labelledby]="'accordion-header-1'">
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>10. Nghề nghiệp khi được tuyển dụng</mat-label>
                            <input matInput formControlName="ngheNghiepKhiTuyenDung" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>11. Ngày tuyển dụng</mat-label>
                            <input matInput formControlName="ngayTuyenDung" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Cơ quan tuyển dụng</mat-label>
                            <input matInput formControlName="coQuanTuyenDung" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>12. Chức vụ hiện tại</mat-label>
                            <input matInput formControlName="chucVuHienTai" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Ngày bổ nhiệm</mat-label>
                            <input matInput formControlName="ngayBoNhiem" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>13. Công việc chính được giao</mat-label>
                            <input matInput formControlName="congViecChinh" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>14. Ngạch công chức</mat-label>
                            <input matInput formControlName="ngachCongChuc" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Ngày bổ nhiệm ngạch</mat-label>
                            <input matInput formControlName="ngayBoNhiemNgach" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Mã ngạch</mat-label>
                            <input matInput formControlName="maNgach" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Bậc lương</mat-label>
                            <input matInput formControlName="bacLuong" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Hệ số lương</mat-label>
                            <input matInput formControlName="heSoLuong" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Ngày hưởng</mat-label>
                            <input matInput formControlName="ngayHuong" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Phụ cấp chức vụ</mat-label>
                            <input matInput formControlName="phuCapChucVu" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Phụ cấp khác</mat-label>
                            <input matInput formControlName="phuCapKhac" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>15.1 Trình độ phổ thông</mat-label>
                            <input matInput formControlName="trinhDoPhoThong" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>15.2 Trình độ chuyên môn</mat-label>
                            <input matInput formControlName="trinhDoChuyenMon" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>15.3 Lý luận chính trị</mat-label>
                            <input matInput formControlName="lyLuanChinhTri" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>15.4 Quản lý nhà nước</mat-label>
                            <input matInput formControlName="quanLyNhaNuoc" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>15.5 Ngoại ngữ</mat-label>
                            <input matInput formControlName="ngoaiNgu" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>15.6 Tin học</mat-label>
                            <input matInput formControlName="tinHoc" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>16. Ngày vào Đảng</mat-label>
                            <input matInput formControlName="ngayVaoDang" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Ngày chính thức</mat-label>
                            <input matInput formControlName="ngayChinhThuc" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>17. Ngày tham gia tổ chức chính trị-xã hội</mat-label>
                            <input matInput formControlName="ngayThamGiaToChucChinhTriXaHoi" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>18. Ngày nhập ngũ</mat-label>
                            <input matInput formControlName="ngayNhapNgu" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Ngày xuất ngũ</mat-label>
                            <input matInput formControlName="ngayXuatNgu" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>19. Quân hàm cao nhất</mat-label>
                            <input matInput formControlName="quanHamCaoNhat" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>20. Danh hiệu được phong tặng cao nhất</mat-label>
                            <input matInput formControlName="danhHieuCaoNhat" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>21. Sở trường công tác</mat-label>
                            <input matInput formControlName="soTruongCongTac" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>22. Khen thưởng</mat-label>
                            <input matInput formControlName="khenThuong" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>23. Kỷ luật</mat-label>
                            <input matInput formControlName="kyLuat" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>24. Tình trạng sức khỏe</mat-label>
                            <input matInput formControlName="tinhTrangSucKhoe" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Chiều cao</mat-label>
                            <input matInput formControlName="chieuCao" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Cân nặng</mat-label>
                            <input matInput formControlName="canNang" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Nhóm máu</mat-label>
                            <input matInput formControlName="nhomMau" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>25. Là thương binh hạng</mat-label>
                            <input matInput formControlName="laThuongBinhHang" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Là con gia đình chính sách</mat-label>
                            <input matInput formControlName="laConGiaDinhChinhSach" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>26. Số chứng minh nhân dân</mat-label>
                            <input matInput formControlName="soChungMinhNhanDan" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Ngày cấp</mat-label>
                            <input matInput formControlName="ngayCap" type="date">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Số sổ BHXH</mat-label>
                            <input matInput formControlName="soSoBHXH" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>29. Đặc điểm lịch sử bản thân</mat-label>
                            <textarea matInput formControlName="dacDiemLichSuBanThan"></textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Tham gia tổ chức nước ngoài</mat-label>
                            <textarea matInput formControlName="thamGiaToChucNuocNgoai"></textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Thân nhân ở nước ngoài</mat-label>
                            <textarea matInput formControlName="thanNhanOngNuocNgoai"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </cdk-accordion-item>

            <!-- Đào tạo, bồi dưỡng -->
            <cdk-accordion-item #accordionItem2="cdkAccordionItem" class="w-full border-b mb-2" role="button" tabindex="1"
                [attr.id]="'accordion-header-2'" [attr.aria-expanded]="accordionItem2.expanded"
                [attr.aria-controls]="'accordion-body-2'">
                <div class="flex justify-between p-4 cursor-pointer bg-gray-200 hover:bg-gray-300"
                    (click)="accordionItem2.toggle()">
                    Đào tạo, bồi dưỡng
                    <span class="text-sm text-gray-600">
                        Ấn để {{ accordionItem2.expanded ? 'đóng' : 'mở' }}
                    </span>
                </div>
                <div class="sm:col-span-4"
                    [style.display]="accordionItem2.expanded ? 'block!important' : 'none!important'"
                    [attr.id]="'accordion-body-2'" [attr.aria-labelledby]="'accordion-header-2'">
                    <h3 class="text-lg font-semibold">27. Đào tạo, bồi dưỡng</h3>
                    <div formArrayName="daoTaoBoDuongs">
                        <div *ngFor="let group of daoTaoBoDuongs.controls; let i = index" [formGroupName]="i"
                            class="grid sm:grid-cols-6 gap-4">
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Tên trường</mat-label>
                                    <input formControlName="tenTruong" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Chuyên ngành</mat-label>
                                    <input formControlName="chuyenNganh" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Từ tháng, năm</mat-label>
                                    <input formControlName="tuNgay" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Đến tháng, năm</mat-label>
                                    <input formControlName="denNgay" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Hình thức đào tạo</mat-label>
                                    <input formControlName="hinhThucDaoTao" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Văn bằng, chứng chỉ</mat-label>
                                    <input formControlName="vanBang" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-icon class="icon-size-6 mb-2" [svgIcon]="'mat_outline:add'"
                            (click)="addDaoTao()"></mat-icon>
                    </div>
                </div>
            </cdk-accordion-item>

            <!-- Quá trình công tác -->
            <cdk-accordion-item #accordionItem3="cdkAccordionItem" class="w-full border-b mb-2" role="button" tabindex="2"
                [attr.id]="'accordion-header-3'" [attr.aria-expanded]="accordionItem3.expanded"
                [attr.aria-controls]="'accordion-body-3'">
                <div class="flex justify-between p-4 cursor-pointer bg-gray-200 hover:bg-gray-300"
                    (click)="accordionItem3.toggle()">
                    Quá trình công tác
                    <span class="text-sm text-gray-600">
                        Ấn để {{ accordionItem3.expanded ? 'đóng' : 'mở' }}
                    </span>
                </div>
                <div class="sm:col-span-4"
                    [style.display]="accordionItem3.expanded ? 'block!important' : 'none!important'"
                    [attr.id]="'accordion-body-3'" [attr.aria-labelledby]="'accordion-header-3'">
                    <h3 class="text-lg font-semibold">28. Tóm tắt quá trình công tác</h3>
                    <div formArrayName="quaTrinhCongTacs">
                        <div *ngFor="let group of quaTrinhCongTacs.controls; let i = index" [formGroupName]="i"
                            class="grid sm:grid-cols-3 gap-4">
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Từ tháng, năm</mat-label>
                                    <input formControlName="tuThangNam" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Đến tháng, năm</mat-label>
                                    <input formControlName="denThangNam" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Chức danh, chức vụ</mat-label>
                                    <input formControlName="chucDanhChucVu" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-icon class="icon-size-6 mb-2" [svgIcon]="'mat_outline:add'"
                            (click)="addQuaTrinhCongTac()"></mat-icon>
                    </div>
                </div>
            </cdk-accordion-item>

            <!-- Quan Hệ Gia Đình -->
            <cdk-accordion-item #accordionItem4="cdkAccordionItem" class="w-full border-b mb-2" role="button" tabindex="3"
                [attr.id]="'accordion-header-4'" [attr.aria-expanded]="accordionItem4.expanded"
                [attr.aria-controls]="'accordion-body-4'">
                <div class="flex justify-between p-4 cursor-pointer bg-gray-200 hover:bg-gray-300"
                    (click)="accordionItem4.toggle()">
                    Quan hệ gia đình
                    <span class="text-sm text-gray-600">
                        Ấn để {{ accordionItem4.expanded ? 'đóng' : 'mở' }}
                    </span>
                </div>
                <div class="sm:col-span-4"
                    [style.display]="accordionItem4.expanded ? 'block!important' : 'none!important'"
                    [attr.id]="'accordion-body-4'" [attr.aria-labelledby]="'accordion-header-4'">
                    <h3 class="text-lg font-semibold">30. Quan hệ gia đình</h3>
                    <div formArrayName="quanHeGiaDinhs">
                        <div *ngFor="let group of quanHeGiaDinhs.controls; let i = index" [formGroupName]="i"
                            class="grid sm:grid-cols-5 gap-4">
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Mối quan hệ</mat-label>
                                    <input formControlName="moiQuanHe" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Họ và tên</mat-label>
                                    <input formControlName="hoTen" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Năm sinh</mat-label>
                                    <input formControlName="namSinh" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Quê quán</mat-label>
                                    <input formControlName="queQuan" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Nghề nghiệp, chức danh</mat-label>
                                    <input formControlName="ngheNghiep" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-icon class="icon-size-6 mb-2" [svgIcon]="'mat_outline:add'"
                            (click)="addQuanHeGiaDinh()"></mat-icon>
                    </div>
                </div>
            </cdk-accordion-item>

            <!-- Diễn biến quá trình lương -->
            <cdk-accordion-item #accordionItem5="cdkAccordionItem" class="w-full border-b mb-2" role="button" tabindex="4"
                [attr.id]="'accordion-header-5'" [attr.aria-expanded]="accordionItem5.expanded"
                [attr.aria-controls]="'accordion-body-5'">
                <div class="flex justify-between p-4 cursor-pointer bg-gray-200 hover:bg-gray-300"
                    (click)="accordionItem5.toggle()">
                    Diễn biến quá trình lương
                    <span class="text-sm text-gray-600">
                        Ấn để {{ accordionItem5.expanded ? 'đóng' : 'mở' }}
                    </span>
                </div>
                <div class="sm:col-span-4"
                    [style.display]="accordionItem5.expanded ? 'block!important' : 'none!important'"
                    [attr.id]="'accordion-body-5'" [attr.aria-labelledby]="'accordion-header-5'">
                    <h3 class="text-lg font-semibold">31. Diễn biến quá trình lương</h3>
                    <div formArrayName="luongCongChucs">
                        <div *ngFor="let group of luongCongChucs.controls; let i = index" [formGroupName]="i"
                            class="grid sm:grid-cols-4 gap-4">
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Tháng/năm</mat-label>
                                    <input formControlName="thangNam" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Mã ngạch/bậc</mat-label>
                                    <input formControlName="maNgachBac" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label>Hệ số lương</mat-label>
                                    <input formControlName="heSoLuong" matInput>
                                </mat-form-field>
                            </div>
                            <div class="sm:col-span-1 flex items-center">
                                <mat-checkbox formControlName="laHeSoHienTai">Là hệ số hiện tại?</mat-checkbox>
                            </div>
                        </div>
                        <mat-icon class="icon-size-6 mb-2" [svgIcon]="'mat_outline:add'"
                            (click)="addDienBienLuong()"></mat-icon>
                    </div>
                </div>
            </cdk-accordion-item>
        </form>

    </cdk-accordion>
</div>
