<div class="flex flex-col flex-auto overflow-hidden bg-white dark:bg-default">
    <!-- Header -->
    <div class="flex flex-col h-25 p-4 bg-gray-50 dark:bg-transparent">
        <div class="flex items-center justify-between">
            <div class="text-xl font-semibold">{{congviec.tenCongViec}}</div>
            <div class="flex items-center">
                <button mat-button (click)="cancelAdd()">Đóng</button>
                <button class="ml-3" mat-flat-button [color]="'primary'" (click)="save()"
                    [disabled]="taskForm.invalid">Lưu</button>
            </div>
        </div>
        <div class="text-sm text-gray-600">
            Dự án/Nhiệm vụ: {{congviec.duAnNvChuyenMon?.tenDuAn}}
        </div>
    </div>

    <mat-divider class="mb-0"></mat-divider>
    <div class="p-4 overflow-auto" style="height: calc(80vh - 144px);"> <!-- Adjust the height as needed -->
        <form [formGroup]="taskForm" class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            <!-- Left side with form details -->
            <div class="lg:col-span-2">
                <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mb-4">
                    <div class="font-semibold">
                        <label class="text-gray-700 ">Tạo bởi: </label>
                        <span>{{ congviec.nguoiGiaoViec?.fullName }} {{'@' +
                            congviec.nguoiGiaoViec?.userName }} lúc: {{ congviec.createdAt | date:'dd/MM/yyyy
                            hh:mm'}}</span>
                    </div>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-4">
                    <div class="font-semibold">
                        <label class="text-gray-700">Mô tả: </label>
                        <span>{{congviec.moTa}}</span>
                    </div>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label class="text-gray-700">Thuộc nhóm: </label>
                        <span>{{congviec.nhomCongViec?.tenNhomCongViec}}</span>
                    </div>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label class="text-gray-700">Loại công việc: </label>
                        <span>{{congviec.loaiCongViec?.tenLoaiCongViec}}</span>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label class="text-gray-700">Trạng thái hiện tại: </label>
                        <span class="bg-gray-100 px-4 py-2 rounded text-blue-600">{{ keyToValue(congviec.trangThai)}}</span>
                    </div>
                    <div>
                        <label class="text-gray-700">Mức ưu tiên: </label>
                        <span class="bg-gray-100 px-4 py-2 rounded text-blue-600">{{ keyToValueMucDoUuTien(congviec.mucDoUuTien)}}</span>
                    </div>
                    <div class="pt-1">
                        <label class="text-gray-700">Thời gian hoàn thành dự kiến (giờ)/điểm/độ phức tạp:</label>
                        <span class="bg-gray-100 px-4 py-2 rounded text-blue-600">{{congviec.thoiGianDuKien}}</span>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-0">
                    <div>
                        <app-user-selector label="Giao cho/Chủ trì:" [options]="listGiaoViecOptions"
                            [selectedItems]="selectedGiaoViec" length="1">
                        </app-user-selector>
                    </div>
                    <div>
                        <app-user-selector label="Người thực hiện:" [options]="listNguoiThucHienOptions"
                            [selectedItems]="selectedNguoiThucHien">
                        </app-user-selector>
                    </div>
                </div>
                <div>
                    <app-user-selector label="Người phối hợp:" [options]="listNguoiPhoiHopOptions"
                        [selectedItems]="selectedNguoiPhoiHop">
                    </app-user-selector>
                </div>
                <div class="-mt-2">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                        <mat-tab label="Trao đổi">
                            <div class="flex items-center mt-0">
                                <app-tag-user-input [listTag]="tags" [listPerson]="persons"
                                    (inputValueChange)="onInputValueChange($event)">
                                </app-tag-user-input>
                                <button mat-flat-button [color]="'primary'" class="ml-2"
                                    (click)="sendComment()">Gửi</button>
                            </div>
                            <div class="scrollable-container mt-2">
                                <div class="timeline">
                                    <div *ngFor="let comment of listComment" class="timeline-item">
                                        <div *ngIf="comment.nguoiComment" class="timeline-time">
                                            <span title="{{comment.nguoiCommentFullName}}" class="text-blue-500">{{'@' +
                                                comment.nguoiComment}} </span>{{ comment.thoiGian }}
                                        </div>
                                        <div *ngIf="!comment.nguoiComment" class="timeline-time">{{ comment.thoiGian }}
                                        </div>

                                        <div class="timeline-circle"
                                            [style.background-color]="comment.tagComments.length > 0 ? comment.tagComments[0].mauSac : '#4787ed'">
                                        </div>
                                        <div class="timeline-content break-all">
                                            <span [innerHTML]="highlightUsernames(comment.noiDung)"></span>
                                        </div>
                                        <div class="ml-2">
                                            @for(tag of comment.tagComments; track tag) {
                                            <span class="text-white px-1 rounded"
                                                [style.background-color]="tag.mauSac ? tag.mauSac : '#4787ed'"> #{{
                                                tag.maTag }}</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab>
                        <mat-tab label="Hoạt động">
                            <div class="scrollable-container">
                                <div class="timeline">
                                    <div *ngFor="let hoatDong of listHoatDong" class="timeline-item">
                                        <div *ngIf="hoatDong.userName" class="timeline-time">
                                            <span title="{{hoatDong.userFullName}}" class="text-blue-500 whitespace-normal">{{'@' +
                                                hoatDong.userName}} </span>{{ hoatDong.thoiGian }}
                                        </div>
                                        <div *ngIf="!hoatDong.userName" class="timeline-time">{{ hoatDong.thoiGian }}
                                        </div>

                                        <div class="timeline-circle"
                                            [style.background-color]="'#96e3aa'">
                                        </div>
                                        <div class="timeline-content break-all">
                                            <span [innerHTML]="highlightUsernames(hoatDong.noiDung)"></span>
                                            <span class="text-gray-500 bg-yellow-100">{{ hoatDong.moreInfo }}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>

            <!-- Right side with sections -->
            <div class="ml-4">
                <div class="rounded-lg h-25" *ngIf="trangThaiOptions.length > 0 && congviec.trangThaiChiTiet == 'READY'">
                    <app-searchable-select [selectedValue]="selectedTrangThai" [options]="trangThaiOptions"
                        [label]="'Chuyển trạng thái'" placeholder="Chọn trạng thái"
                        (selectionChange)="setTrangThai($event)">
                    </app-searchable-select>
                </div>
                <mat-accordion>
                    <mat-expansion-panel class="mt-4 bg-green-100 rounded-lg">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-bold text-green-700"> Thời gian </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="bg-green-100 rounded-lg">
                            <div>
                                <label class="text-gray-700">Bắt đầu: </label>
                                <span>{{congviec.ngayBatDau | date:'dd/MM/yyyy'}}</span>
                            </div>
                            <div>
                                <label class="text-gray-700">Hạn hoàn thành: </label>
                                <span>{{congviec.ngayKetThuc | date:'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="flex justify-end">
                                <button class="mt-2 bg-green-500 text-white px-4 py-2 rounded" (click)="giaHan()">Gia
                                    hạn</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel class="mt-4 bg-yellow-100 rounded-lg">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-bold text-yellow-700"> Tags/Nhãn </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="">
                            <div class="flex flex-wrap gap-2 mt-2">
                                <span *ngFor="let tag of congviec.tagCongViec" class="text-white px-2 py-1 rounded"
                                    [style.background-color]="tag.mauSac">#{{ tag.tenTag }}</span>
                            </div>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel class="mt-4 bg-blue-100 rounded-lg">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-bold text-blue-700"> Files </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <ul>
                                <li><a href="#" class="text-blue-500">1. Mo_ta_nghiep_vu.docx</a></li>
                                <li><a href="#" class="text-blue-500">2. Phan_ra_tien_do.xlsx</a></li>
                            </ul>
                            <div class="flex justify-end">
                                <button class="mt-2 bg-blue-500 text-white px-4 py-2 rounded">Thêm file</button>
                            </div>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel class="mt-4 bg-gray-100 rounded-lg">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-bold text-gray-700"> Báo cáo/Đánh giá </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <div>
                                <mat-form-field class="w-full fuse-mat-dense">
                                    <mat-label>Chất lượng/Hiệu quả</mat-label>
                                    <mat-select formControlName="chatLuongHieuQua">
                                        <mat-option value="chua-dam-bao">Chưa đảm bảo</mat-option>
                                        <mat-option value="thap">Thấp</mat-option>
                                        <mat-option value="dat">Đạt</mat-option>
                                        <mat-option value="cao">Cao</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="w-full fuse-mat-dense">
                                    <mat-label>Tiến độ</mat-label>
                                    <mat-select formControlName="tienDo">
                                        <mat-option value="cham">Chậm</mat-option>
                                        <mat-option value="dung">Đúng</mat-option>
                                        <mat-option value="vuot">Vượt</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="w-full fuse-mat-dense">
                                    <mat-label>Chấp hành chế độ thông tin/Báo cáo</mat-label>
                                    <mat-select formControlName="chapHanhCheDo">
                                        <mat-option value="chap-hanh">Chấp hành</mat-option>
                                        <mat-option value="khong-chap-hanh">Không chấp hành</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="w-full fuse-mat-dense">
                                    <mat-label>Chấp hành điều động làm thêm giờ</mat-label>
                                    <mat-select formControlName="chapHanhLamThem">
                                        <mat-option value="chap-hanh">Chấp hành</mat-option>
                                        <mat-option value="khong-chap-hanh">Không chấp hành</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex justify-end">
                                <button class="mt-2 bg-gray-500 text-white px-4 py-2 rounded">Xác nhận đánh giá</button>
                            </div>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </form>
    </div>
</div>