<div class="flex flex-col flex-auto h-full overflow-hidden bg-card dark:bg-default">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-18 -mb-px px-6 bg-gray-50 dark:bg-transparent">

        <div class="ml-2 text-2xl font-semibold">Thêm chức năng vào nhóm</div>

        <div class="flex items-center">
            <!-- More menu -->
            <button mat-flat-button [color]="'primary'" (click)="save()">
                Lưu
            </button>
            <button class="px-6 ml-3" mat-button (click)="cancelAdd()">
                Hủy
            </button>
        </div>

    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start p-6">
        <div class="grid grid-cols-1 gap-4 w-full mt-4" *ngIf="items | async as itemsData; else loading">
            <div class="flex items-center justify-between" *ngFor="let item of itemsData">
                <div
                    class="flex-auto leading-6 font-medium cursor-pointer"
                    (click)="func.toggle()">
                    {{item.tenChucNang}}
                </div>
                <mat-slide-toggle [checked]="item.checked" (change)="toggleChecked(item)"
                    class="ml-2"
                    [color]="'primary'"
                    #func>
                </mat-slide-toggle>
            </div>
        </div>
        <ng-template #loading>
            <div>Loading...</div>
        </ng-template>
    </div>
</div>