<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-6 sm:pt-6 sm:pb-6 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="">
                <h2 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <!-- tên dự án -->
                    {{model.tenDuAn}}
                </h2>
            </div>
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">PRJ</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">Chi tiết Dự án/Nhiệm vụ</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'../'">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <mat-tab-group [ngClass]="'mat-tab-header-pagination-controls-enabled'"  [(selectedIndex)]="selectedTabIndex" mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Tổng quan">
            <ng-template matTabContent>
                NA
            </ng-template>
        </mat-tab>
        <mat-tab label="Công việc">
            <ng-template matTabContent>
                NA
            </ng-template>
        </mat-tab>
        <mat-tab label="Thiết lập">
            <ng-template matTabContent>
                <app-thiet-lap-du-an></app-thiet-lap-du-an>
            </ng-template>
        </mat-tab>
        <mat-tab label="Kanban">
            <ng-template matTabContent>
                NA
            </ng-template>
        </mat-tab>

    </mat-tab-group>
</div>