<div class="flex flex-col flex-auto h-full overflow-hidden bg-card dark:bg-default">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-18 -mb-px px-6 bg-gray-50 dark:bg-transparent">

        <div class="ml-2 text-xl font-semibold">Gia hạn công việc</div>

        <div class="flex items-center">
            <!-- More menu -->
            <button mat-flat-button [color]="'primary'" (click)="save()" [disabled]="addDataForm.invalid">
                Lưu
            </button>
            <button class="px-6 ml-3" mat-button (click)="cancelAdd()">
                Hủy
            </button>
        </div>

    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start p-6">
        <form [formGroup]="addDataForm" class="grid grid-cols-1 gap-x-6">
            <mat-form-field appearance="fill">
                <mat-label>Hạn hoàn thành</mat-label>
                <input matInput [matDatepicker]="endDatePicker" formControlName="ngayKetThuc" />
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </form>
    </div>
</div>