<div class="flex space-x-8 p-4 overflow-auto">
  <div *ngFor="let list of congviecKanban" 
       class="flex flex-col bg-gray-50 p-4 rounded-lg shadow w-80"
       cdkDropList 
       [id]="list.id" 
       [cdkDropListData]="list.listCongViec" 
       (cdkDropListDropped)="drop($event)"
       [cdkDropListConnectedTo]="connectedTo">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-bold">{{ list.tenCot }}</h3>
      <span class="text-gray-500">{{ list.listCongViec.length }}</span>
    </div>
    <div class="flex-1 space-y-4 overflow-y-auto" style="height: 800px;max-height: 800px;">
      <div *ngFor="let task of list.listCongViec" class="bg-white p-4 rounded-lg shadow" cdkDrag>
        <h4 class="font-medium">{{ task.tenCongViec }}</h4>
        <p class="text-gray-500 text-sm">Người được giao: {{ task.nguoiDuocGiao?.fullName }}</p>
        <p class="text-gray-500 text-sm">{{ task.moTa }}</p>
        <div class="flex flex-wrap gap-2 mt-2">
          <span *ngFor="let tag of task.tagCongViec" class="text-white text-sm px-2 py-1 rounded" [style.background-color]="tag.mauSac">{{ tag.tenTag }}</span>
        </div>
        <div class="mt-2 text-gray-500 text-sm flex items-center">
          <span class="material-icons mr-1 text-red-500">schedule</span>
          {{ task.ngayKetThuc | date:'MMM d, yyyy' }}
        </div>
      </div>
    </div>
  </div>
</div>
